name: "Test"

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "18 18 * * 1,3,5"
  #push:
  #  branches: ["**"]
  #  paths:
  #    - ".github/workflows/test.yaml"
  #    - "dist/**"
  #    - "src/**"
  #    - "package*.json"
  #    - "requirements*.txt"
  #    - "action.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      #- name: "Debug CTX github"
      #  if: ${{ !github.event.act }}
      #  continue-on-error: true
      #  env:
      #    GITHUB_CTX: ${{ toJSON(github) }}
      #  run: echo "$GITHUB_CTX"

      #- name: "Debug Environment"
      #  if: ${{ !github.event.act }}
      #  continue-on-error: true
      #  run: |
      #    env

      - name: "Test Local Action"
        id: test
        uses: ./
        with:
          update: false
          open: true
          #unchanged: true
          #heading: ""
          #toggle: Toggle Me
          columns: "n,t,b,a"
          sections: "a,u,d,r,k"

      - name: "Verify Outputs"
        env:
          JSON: ${{ steps.test.outputs.json }}
          MARKDOWN: ${{ steps.test.outputs.markdown }}
        run: |
          echo "json: '${{ env.JSON }}'"
          if [ -z '${{ env.JSON }}' ];then
            echo "No Output: json"
            exit 1
          fi
          echo "markdown: '${{ env.MARKDOWN }}'"
          if [ -z '${{ env.MARKDOWN }}' ];then
            echo "No Output: markdown"
            exit 1
          fi

      #- name: "Schedule Failure Notification"
      #  if: ${{ failure() && github.event_name == 'schedule' }}
      #  uses: sarisia/actions-status-discord@v1
      #  with:
      #    webhook: ${{ secrets.DISCORD_WEBHOOK }}
